.skill {
  width: 60vw;
  margin-left: 30%;
  margin-top: 50px;
}
.header-skill {
  color: rgb(25, 25, 102);
  font-size: 64px;
  text-decoration: underline #007aff 5px;
}
.header-skill-content {
  margin-bottom: 20px;
}
.skill-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill-content-item {
  display: block;
  box-sizing: border-box;
  width: 50%;
}
.skill-content-item ul {
  list-style-type: none;
  margin-left: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 1024px)
{
  .skill-content-item {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  .skill {
    margin-left: 20%;
  }
}
