.contact
{
    width: 60vw;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.header-contact {
    color: rgb(25, 25, 102);
    font-size: 64px;
    text-decoration: underline #007aff 5px;
  }
.contact-form{
    border-top: 10px solid #007aff;
    padding: 20px;
}
.contact-flexbox{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.contact-item{
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
}
.contact-item label{
    font-size: 1.5rem;
}
.contact-item .contact-normal{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.contact-item textarea{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.contact-item input.contact-submit{
  height:60px;
  width:100px;
  border:none;
  background:#007aff;
  position:relative;
  border-radius:5px;
  color:white;
  font-size:1.7em;
  font-weight:500;
  transition: all 300ms linear;
    
}
.contact-item input.contact-submit:hover{
    opacity: 0.8;
  }
.size50{
    width: 50%;
}
.size100{
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 1024px)
  {
    .contact {
        margin-left: 20%;
      }
      .size50{
        width: 100%;
        text-align: center;
    }
    .size100{
        width: 100%;
        
    }
    
  }