.portfolio {
    width: 60vw;
    margin-left: 30%;
    margin-top: 50px;
  }
  .header-portfolio {
    color: rgb(25, 25, 102);
    font-size: 64px;
    text-decoration: underline #007aff 5px;
  }
  .header-portfolio-content {
    margin-bottom: 20px;
  }
  .portfolio-list{
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: wrap;
      border-left: 10px solid #007aff;
  }
  .portfolio-list-item{
      display: block;
      box-sizing: border-box;
      width: 33%;
  }
  @media only screen and (max-width: 1024px)
  {
    .portfolio {
        margin-left: 20%;
      }
  }
  