.home-image {
  height: 100vh;
  background-image: url("/public/images/homebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.openbtn {
  position: fixed;
  font-size: 28px;
  width: 48px;
  margin-left: 95%;
  margin-top: 20px;
  background-color: #007aff;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 50%;
  color: white;
  z-index: 2;
  visibility: hidden;
}

.home-image h1 {
  margin-top: 100px;
  font-size: 50px;
  color: white;
}

.home-image p {
  font-size: 32px;
  color: white;
}

.home-image p span {
  text-decoration: underline #007aff;
}

@media only screen and (max-width: 1024px) {


  .aboutimage {
    width: 100%;
    padding-right: 0;
  }

  .aboutcontent {
    width: 100%;
  }

  .aboutdetail {
    width: 100%;
  }

  .about-content-item ul li {
    margin-top: 10px;
  }

  .openbtn {
    margin-left: 85%;
  }
}