.education {
    width: 60vw;
    margin-left: 30%;
    margin-top: 50px;
    height: 100vh;
  }
  .header-education {
    color: rgb(25, 25, 102);
    font-size: 64px;
    text-decoration: underline #007aff 5px;
  }
  .header-education-content {
    margin-bottom: 20px;
  }
  .education-list{
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: wrap;
      border-left: 10px solid #007aff;
  }
  .education-list-item{
    margin-left: 10px;
      display: block;
      box-sizing: border-box;
      width: 100%;

  }
  @media only screen and (max-width: 1024px)
  {
    .education {
        margin-left: 20%;
      }
  }
  